@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
    
    --primary-color: #C2A36990   ;
    --secondary-color: #D0B25980 ;
    --primary-color-: #C2A369   ;
    --secondary-color-: #D0B259 ;
    --accent1-color: #97261C;
    --accent2-color: #31406D;
    --accent3-color: #C74628;

    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Helvetica, Lato, sans-serif;
    --fallout-font: 'Sono', sans-serif;


}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
p {
    font-family: var(--paragraph-font)
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--primary-color);
}
.logo {
    margin: 0em 0em 0em 1em;
    width: 200px;
    height: auto;
}
body {
    background-repeat:no-repeat;
    background-size:cover;
}
#home-body {
    background-image: url("../images/home_background.jpg");
}
#fallout-body {
    background-image: url("../images/fallout_background.jpg");
}
#dnd-body {
    background-image: url("../images/dnd_background.jpg");
}

header {
    margin-top:-8px;
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 300px auto;
}
nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 35px;
    transition: font-size .3s;
}
nav a:hover {
    color: var(--secondary-color-);
    text-shadow: .5px .5px 2px black, -.5px -.5px 2px black;
    transform: scale(1.02, 1.02);
    transition: color .2s, text-shadow .2s, transform .3s;
}

div section {
    padding: 10px;
}

#home-banner-msg {
    margin-top: -450px;
    margin-bottom: 250px;
    position: relative;
    transition: margin-top .1s;
}
.home-tittle{
    color: var(--accent3-color);
    font-size: 72px;
    text-align: center;
    text-shadow: 1.5px 1px .5px var(--accent1-color), 3px 2px 1px black;
}
.button-box {
    font-size: 48px;
    text-align: center;

}
.view {
    color: white;
    font-weight: bold;
    text-shadow: .5px .5px 2px black;
    text-decoration: none;
    transition: opacity .3s, color .3s;
}
.view:hover {
    color: var(--accent1-color);
    text-shadow: .5px .5px 2px black, .5px .5px 2px white, -.5px -.5px 2px white;
    opacity: .8;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  1fr;
    grid-template-rows: auto;
    background-color: var(--secondary-color);
}

#banner-img {
    height: auto;
    width: 100%;
    max-width: 1600px;
    -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, 
                        color-stop(0.50,  rgba(0,0,0,1)),
                        color-stop(1.00,  rgba(0,0,0,0)));
    mask-image: -webkit-gradient(linear, center top, center bottom, 
                        color-stop(0.50,  rgba(0,0,0,1)),
                        color-stop(1.00,  rgba(0,0,0,0)));
}

.home-welcome-message {
    grid-row: 1;
    grid-column: 1/7;
    font-size: 24px;
}
#action-msg {
    margin-top: 50px;
    font-size: 28px;
    text-align: center;
    font-family:var(--heading-font);
    text-shadow: .5px 0px .5px black;
}

.game-card {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3.6fr .4fr;
    transition: transform .5s;
}
.game-card:hover {
    transform:scale(1.1, 1.1);
}
.game-card:hover .game-card-img {
    filter:brightness(110%);
    opacity: .9;
}
    
.game-card-header {
    text-align: center;

}

.game-card-img {
    display: flex;
    width: 100%;
    max-height: 460px;
    justify-content: center;
    transition: opacity .2s, filter .2s;
}

.game-card-img img {
    border: 10px solid var(--accent1-color);
    transition: transform .5s;
    box-shadow: 2px 2px 10px black;
    width: 100%;
    height: auto;
    background-color: white;
}
#dnd-card {
    grid-column: 2/4;
}
#fallout-card {
    grid-column: 4/6;
}
#fallout-card img {
    grid-column: 4/6;
    border: 10px solid var(--accent2-color);
}
#take-a-chance-btn:hover {
    transform:scale(1.1, 1.1);
    transition: transform .1s;

}
.take-a-chance-msg {
    display: block;
    grid-column: 1/7;
    font-size: 22px;
}
#take-a-chance-btn button {
    margin-top: 40px;
    display: block;
    width: 18%;
    min-width: 160px;
    height: 36px;
    font-size: 18px;
    text-shadow: .5px 0px .5px black;
    font-family:var(--paragraph-font);
    box-shadow: 1px 1px 7px black;
    align-content: center;
}
#take-a-chance-btn {
    display:flex;
    justify-content: space-around;
}

#home-top-gradient {
    height: 20px;
    background: linear-gradient(to bottom, var(--primary-color) 20%, var(--secondary-color) 80%);  
}

#home-bottom-gradient {
    height: 20px;
    background: linear-gradient(to top, var(--primary-color) 20%, var(--secondary-color) 80%); 
}


footer {
    background-color: var(--accent2-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -8px;
}
footer .social img {
    padding-top: 15px;
}
footer a {
    color: white;
    text-decoration: solid;
}
footer p {
    color: var(--accent3-color);
    text-decoration: solid;
}
footer a:hover {
    color: var(--accent3-color);
}

/*Universal Page*/
.tool-bar {
    display: grid;
    grid-template-columns: .5fr 10fr;
    height: fit-content;
    align-items: center;
}
/*.tool-bar h2 {
    
}*/
.tool-bar nav{
    display: grid;
    grid-template-columns: .4fr 1.6fr .4fr .6fr;
    background-color: rgba(50, 50, 50, 80);
    border: 3px solid rgba(50, 50, 50, 80);
    border-radius: 25px;
    align-items: center;
}
.tool-bar nav a{
    border-right: 2px solid black;
    
}
#end-of-nav{
    border-right: 0px solid black;
}
.card-header {
    margin-top: -260px;
    margin-bottom: 260px;
    font-weight: bolder;
    user-select: none;
    border-bottom: 0px;
    font-size: 48px;
    text-align: center;
    color:white;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 0px 0px 7px black;
}
.game-card-img a{
    text-decoration:none;
}


/*Fallout Page*/
#fallout-banner-msg {
    margin-top: -450px;
    margin-bottom: 250px;
    position: relative;
}
.fallout-tittle{
    color: var(--accent3-color);
    font-size: 48px;
    text-align: center;
    font-family: var(--paragraph-font);
}

/*DnD Page*/
#fallout-banner-msg {
    margin-top: -450px;
    margin-bottom: 250px;
    position: relative;
}
.dnd-tittle{
    color: var(--accent3-color);
    font-size: 48px;
    text-align: center;
    font-family: var(--paragraph-font);
}

@media screen and (max-width: 1400px) {
    .game-card {
        margin: 0px 5px 0px 5px;
    }
    #home-banner-msg {
        margin-top: -400px;
    }
}

@media screen and (max-width: 1100px) {
    #home-box, .home-grid {
        display: block;
        height: auto;
    }
    nav a {
        font-size: 20px;
    }
    #home-banner-msg {
        margin-top: -300px;
    }
    
}

@media screen and (max-width: 1000px) {
    #home-box, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        font-size: 18px;
    }
    #home-box {
        margin-top: 0px;
    }
    #banner-img {
        transform: scale(1, 1.2);
        margin-top: 23px;
        height: 100%;
        min-height: 230px;
        max-height: 320px;
    }
    #home-banner-msg {
        margin-top: -100px;
    }
    
}